
	h1{font-weight: bold; color: red; text-align: center;}
	div#t01{font-family: "Times New Roman"; text-align: justify; }
	ul#t02 {padding-left: 60px;}
	p#t03{font-style: italic;}
	img{float: right; margin: 30px 0 10px 20px;}
	pre{border-style: double; border-radius: 10px;}
	p:hover {color: red;}
	li:hover {font-style: italic; font-size: 2em;}
	li:hover {font-style: italic; font-size: 2em;}
	ul {margin:0;}
