ul.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100px;
    background-color: #f1f1f1;
    float: left;
}

li.menu a.menu {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

li.menu a.menu_active {
    background-color: #4CAF50;
    color: white;
}

li.menu a.menu:hover:not(.menu_active) {
    background-color: #555;
    color: white;
}