form#upload{
font-style: center;	
}
h1{text-align: center;}
div {
    background-color: lightgrey;
    width: 500px;
    border: 25px solid green;
    padding: 25px;
    margin: 25px;
	font-style: center;	
	margin-left: auto;
    margin-right: auto
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto }
.button {font-style: center;
text-align: center;}
